<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    
    <div class="card ms-auto me-auto mt-5 mb-3" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/163046/welcome-to-our-home-welcome-tablet-an-array-of-163046.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title">Authentication Demo</h5>
          <p class="card-text">Authentication Build from scratch using bcrypt. In order to view the secret page you must be logged in. SignIn if you are an existing user otherwise register youself</p>
          <a href="/login" class="btn btn-primary">LogIn</a>
          <a href="/register" class="btn btn-primary">SignUp</a>
        </div>
      </div>
      <p class="text-center">&copy;KulbhushanGoswami</p>
</body>
</html>